
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Loyal</h2>
<h3>@ViewBag.Message</h3>

<p>
    It’s on you how you want to live your life. Everyone has a choice. I pick my choice, squeaky clean. 
    Fan luv. Mogul talk. The key to more success is to get a massage once a week, very important, major key,
     cloth talk. The key is to drink coconut, fresh coconut, trust me. You should never complain, complaining
     is a weak emotion, you got life, we breathing, we blessed. You see that bamboo behind me though, you see 
    that bamboo? Ain’t nothin’ like bamboo. Bless up. To succeed you must believe. When you believe, you will 
    succeed.
</p>

