
@{
    ViewBag.Title = "Smart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Smart</h2>
<h3>@ViewBag.Message</h3>

<p>
    Life is what you make it, so let’s make it. How’s business? Boomin. The key to more success is to
     have a lot of pillows. The key is to drink coconut, fresh coconut, trust me. Surround yourself
     with angels. It’s important to use cocoa butter. It’s the key to more success, why not live smooth?
     Why live rough? The first of the month is coming, we have to get money, we have no choice. It cost 
    money to eat and they don’t want you to eat. The key is to drink coconut, fresh coconut, trust me.
</p>
